*, html, body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #d1d2d3;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 996px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px -2px;
}
.header{
    background-color: #800;
    color: #fff;
    padding: 10px 15px;
}
.header h3{
    font-size: 20px;
}
.iframe-video-wrapper{
    width: 80%;
    margin: 10px auto;
    min-height: 500px;
}
.play-video-btn{
    padding: 5px 30px;
    font-size: 14px;
    background-color: #173c62;
    color: #fff;
    border: 1px solid #173c62;
    cursor: pointer;
}
.footer{
    background-color: #173c62;
    padding: 10px 15px;
}
.footer-content{
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.clearfix{
    clear: both;
}
.activeEmp{
    border: 2px solid #173c62 !important;
}
/* responsive css */
@media (max-width: 576px) {
    .container{
        width: 90%;
    }
    .emp-item{
        margin-bottom: 15px;
        margin-right: 0;
        padding: 10px 15px;
        border: 1px solid #d1d2d3;
        font-size: 13px;
        width: 100%;
        float: none;
    }
}
@media (min-width: 576px) {
    .container{
        width: 540px;
    }
    .emp-item{
        margin-bottom: 15px;
        margin-right: 0;
        padding: 10px 15px;
        border: 1px solid #d1d2d3;
        font-size: 13px;
        width: 100%;
        float: none;
    }
}
@media (min-width: 768px) {
    .container{
        width: 720px;
    }
    .emp-item{
        margin-bottom: 15px;
        margin-right: 0;
        padding: 10px 15px;
        border: 1px solid #d1d2d3;
        font-size: 13px;
        width: 100%;
        float: none;
    }
}
@media (min-width: 992px) {
    .container{
        width: 996px;
    }
    .emp-item{
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 10px 15px;
        border: 1px solid #d1d2d3;
        font-size: 13px;
        width: 48%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1140px;
    }
    .emp-item{
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 10px 15px;
        border: 1px solid #d1d2d3;
        font-size: 13px;
        width: 48%;
        float: left;
    }       
}
/* end of responsive css */